<% provide(:title, 'Lab Members') %>
<h1>Lab Members</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <div class="row">
      <div class="span1">
        <%= gravatar_for user %>
      </div>
      <div class="span3">
        <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %>
          | <%= link_to "delete", user, method: :delete,
            data: { confirm: "You sure?" } %>
          <% end %>
          <br>                                        
          <%= user.email %>                                   
          <br>                                                        
          <%= user.research_title %>                                          
        </div> 
        <div class="span8">
          <%= user.research_description %>
        </div>
      </div>
      <hr>
    <% end %>
  </ul>

  <%= will_paginate %>
