<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "Hunter Lab", root_path, id: "logo" %>
    <nav>
    <ul class="nav pull-right">
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Users", users_path %></li>
        <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Resources <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Equipment Booking" %></li>
          <li><%= link_to "PCR1", equipment_schedule_path('PCR1') %></li>
          <li><%= link_to "PCR2", equipment_schedule_path('PCR2') %></li>
          <li><%= link_to "HPLC", equipment_schedule_path('HPLC') %></li>
          <li><%= link_to "Shakers", equipment_schedule_path('Shakers') %></li>
          <li class="divider"></li>
          <li><%= link_to "Chemical Ordering", orders_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Protocols", '#' %></li>
          </li>
        </ul>
        </li>
        <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
        </li>
      <% else %>
        <li><%= link_to "Our Research", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
    </nav>
  </div>
</div>
</header>
